name: Test

on:
  push:
    branches: [ main, dev ]
  pull_request:

jobs:
  test:
    name: Ruby ${{ matrix.ruby_version }}

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version:
          - '3.0'
          - '3.1'
          - '3.2'

    steps:
    - uses: actions/checkout@v4

    - uses: hidakatsuya/setup-diff-pdf@v1
      with:
        diff-pdf-version: '0.5'

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
        bundler-cache: true

    - run: bundle exec rake standard
    - run: bundle exec rake test
