name: Test

on:
  push:
    branches: [ main, dev ]
  pull_request:

jobs:
  test:
    name: Ruby ${{ matrix.ruby_version }}

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version:
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - uses: hidakatsuya/setup-diff-pdf@ce0f23ec56c476d7a403fa5fbbd86b55e308eb73 # v1.4.0
      with:
        diff-pdf-version: '0.5'

    - uses: ruby/setup-ruby@2e007403fc1ec238429ecaa57af6f22f019cc135 # v1.234.0
      with:
        ruby-version: ${{ matrix.ruby_version }}
        bundler-cache: true

    - run: bundle exec rake standard
    - run: bundle exec rake test
